<p>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
    <%= f.label :email, "email" %>
    <%= f.email_field (:email) %> 
    <%= f.label :phone, "telefone" %>
    <%= f.text_field :phone %>
    <%= f.label :office, "sala" %>
    <%= f.text_field :office %>
</p>